<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>

</head>
<body class = "bg_dark">
    <div>
        <div>

        </div>
        <div class ="login_form">
            <form>
                <div class="from_group">
                    <label>用户名</label>
                    <input type="text"  id="username" name="username" class="form-control" placeholder="请输入用户名">
                </div>
                <div class="from_group">
                    <label>邮箱</label>
                    <input type="text"  id="email" name="email" class="form-control" placeholder="请输入邮箱">
                </div>
                <div class="from_group">
                    <label>电话号码</label>
                    <input type="text"  id="telephone" name="telephone" class="form-control" placeholder="请输入电话号码">
                </div>
                <div class="from_group">
                    <label>密码</label>
                    <input type="text"  id="password" name="password" class="form-control" placeholder="请输入密码">
                </div>

                <button type="button" onclick="regSave()"></button>
                <div>
                    <p>已有账号？ <a href="/admin/login">点击登录</a></p>
                </div>
            </form>
        </div>
    </div>
    <script>
        //注册保存方法
        function regSave(){
        }
    </script>

</body>
</html>